{% extends 'Home/shared/base1.html' %}



{% load static %}

{% block content %}


    <!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>About IService</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single-well start-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-left">
              <div class="single-well">
                <a href="#">
                  <img src="{% static 'assets/img/about/about1.jpg' %}" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- single-well end-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-middle">
              <div class="single-well">
                <a href="#">
                  <h4 class="sec-head">project Maintenance</h4>
                </a>
                <p>
                  Simplify your life with our services, 
                  so you can relax and enjoy your home hassle-free. No need to juggle multiple contractors; we've got you covered for all your household needs!                </p>
                <ul>
                  <li>
                    <i class="bi bi-check"></i> Efficient Home Solutions
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Greater Convenience
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Enhanced Efficiency
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Comprehensive Maintenance
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Focus on Enjoying Living Spaces
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End col-->
        </div>
      </div>
    </div><!-- End About Section -->

 <!-- ======= Rviews Section ======= -->
 
<!-- End Rviews Section -->

    <!-- ======= Services Section ======= -->
    <div id="services" class="services-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>Our Services</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-briefcase"></i>
                  </a>
                  <h4>Scheduled Services</h4>
                  <p>
                    Users can schedule appointments with selected service providers and set service times based on their availability.                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-card-checklist"></i>
                  </a>
                  <h4>Search and Select</h4>
                  <p>
                    Users can search for specific labor services they require and select service providers based on their needs.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-bar-chart"></i>
                  </a>
                  <h4>Feedback and Ratings</h4>
                  <p>
                    Users can share their experiences and rate service providers after receiving a service, helping maintain quality.                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-house-gear"></i>
                  </a>
                  <h4>Social Services </h4>
                  <p>

                    Users get access to a wide range of services and benefits through our platform, enhancing their experience and meeting their diverse needs.                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-clipboard-data"></i>
                  </a>
                  <h4>Customization</h4>
                  <p>

                    Users can easily modify and update their service preferences and requirements to create a personalized and tailored experience.                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-calendar4-week"></i>
                  </a>
                  <h4>24/7 Support</h4>
                  <p>
                    Users can avail themselves of our 24/7 support service, actively contributing to the ongoing enhancement of service quality.                  </p>
                </div>
              </div>
      
      </div>
    </div>
    <br><br>

    <!-- ======= Contact Section ======= -->

  
{% endblock content %}