{% extends 'Employee/shared/base1.html' %}
{% load static %}

{% block content %}
<style>
    .container {
        text-align: center;
        margin-top: 20px;
        width: 70%;
    }

    section {
        padding: 50px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-left: 50%;
    }

    .table-container {
        text-align: center;
        margin-top: 20px;
    }

    .custom-table {
        width: 100%;
        border-collapse: collapse;
        margin-right: 20px;
        border: 1px solid #ddd;
        align-items: center;
    }

    .custom-table th,
    .custom-table td {
        border: 1px solid transparent;
        padding: 15px;
        text-align: center;
    }

    .custom-table th {
        background-color: #293157;
        color: #f2f2f2;
    }

    .custom-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    h3, h4 {
        color: #07072b;
    }

    b {
        color: black;
    }

    @media (max-width: 576px) {
        .custom-table {
            width: 100%;
        }
    }
</style>
<br>

<div class="container">
    <section name="Employee-Home">

    <h1>Welcome {{ name }}</h1>
        <!-- Status Cards -->
        <div class="table-container">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Assigned</td>
                        <td>{{ data.Assigned }}</td>
                    </tr>
                    <tr>
                        <td>On Going</td>
                        <td>{{ data.OnGoing }}</td>
                    </tr>
                    <tr>
                        <td>Completed</td>
                        <td>{{ tot_complt}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Total Cards -->
        </div>
    </section>
</div>

{% endblock content %}
